/* Start Variables */
:root {
    --main-color: #10cab7;
    --second-color: #2c4755;
    --par-color: #575757;
    --section-background: #f6f6f6;
    --section-margin: 100px;
    --section-padding: 40px 0;
    --main-duration: 0.3s; 
}
/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    /* Borders */
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Components */
.special-heading {
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}

.special-heading + p {
    text-align: center;
    margin: -33px 0;
    color: var(--par-color);
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 75px;
    }

    .special-heading + p {
        font-size: 15px;
        margin: -25px;
    }
}

.gridd {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
/* End Components */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 70px;
}

.header .links {
    position: relative;
}

.header .links:hover ul {
    display: block;
}

.header .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background-color: var(--section-background);
    min-width: 200px;
    display: none;
    z-index: 1;
}

.header .links ul::after {
    content: "";
    border: solid 10px transparent;
    border-bottom-color: #ddd;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links .icon {
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
    background-color: #333;
}

.header .links .icon span:nth-child(2) {
    width: 65%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: #333;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: solid #ddd 1px;
}
/* End Header */

/* Start Landing Section */
.landing {
    background-image: url(../images/landing1.jpg);
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 320px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section */


/* Start Features */
.features {
    padding: 60px 0;
    background-color: var(--section-background);
}

.features .feat {
    text-align: center;
    padding: 20px;
    line-height: 1.8;
}

.features .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feat h3 {
    font-weight: 800;
    color: var(--second-color);
}

.features .feat p {
    color: var(--par-color);
    font-weight: 17px;
}

@media (min-width: 675px) and (max-width: 1199px) {
    .feat:last-of-type {
        transform: translate(55%, -5%);
        -webkit-transform: translate(55%, -5%);
        -moz-transform: translate(55%, -5%);
        -ms-transform: translate(55%, -5%);
        -o-transform: translate(55%, -5%);
}
    
}
/* End Features */
/* Start Services */
.services {
    padding: var(--section-padding);
}

.services .services-content {
    margin-top: var(--section-margin);
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
    height: 40%;
}

@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv i {
    font-size: 30px;
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv .text h3 {
    margin: -5px 0 30px;
    color: #1f2021;
    font-weight: 800;
    font-size: 20px;
}

.services .services-content .serv .text p {
    line-height: 1.8;
    font-size: 15px;
    font-weight: 300;
    color: #4d4c4c;
}

.services-content  img {
    width: 300px;
    height: 330px;
}

.services-content .image {
    position: relative;
    text-align: center;
}

.services-content .image::after {
    content: "";
    position: absolute;
    background-color: var(--second-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width: 1199px) {
    .mount-img {
        display: none;
    }
}



/* End Services */

/* Start Portfolio */
.portfolio {
    padding: var(--section-padding);
    background-color: var(--section-background);
}


.portfolio-content .proj img {
    max-width: 100%;
}

.portfolio-content .proj {
    margin-top: var(--section-margin);
    background-color: white;
}

.portfolio-content .text {
    padding: 20px;
}

.portfolio-content .text h3 {
    color: #1f2021;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.portfolio-content .text p {
    color: #4d4c4c;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .portfolio-content .text {
        flex-direction: column;
        text-align: center;
    }
}

/* End Portfolio */

/* Start About */
.about {
    padding: var(--section-padding);
    margin: var(--section-margin);
}

@media (max-width: 991px) {
    .about {
        margin: 20px;
    }
}

.about .about-content {
    margin-top: var(--section-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about-content .image {
        margin: 0 auto 60px;
    }
}


.about-content img {
    max-width: 100%;
}

.about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about-content .image::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 300px;
    border-left: var(--main-color) solid 80px;
    border-bottom: var(--main-color) solid 80px;
    right: -180px;
    top: -40px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about-content .image::after,
    .about-content .image::before {
        display: none;
    }
}

.about-content .text {
    flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 50px;
}

.about-content .text hr {
    display: inline-block;
    width: 40%;
    border-color: var(--main-color);
}

.about-content .text p:last-of-type {
    font-weight: 300;
    font-size: 15px;
    color: var(--par-color);
}

.about-content .text p {
    line-height: 2;
}


/* End About */

/* Start Contact */
.contact {
    padding: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    text-align: center;
    margin-top: 100px;
}

.contact .info .label {
    font-size: 35px;
    color: var(--second-color);
    font-weight: 800;
    margin: 15px;
    letter-spacing: -2px;
}

.contact .info .link {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 33px;
}

@media (max-width: 767px) {
    .contact .info .label {
        font-size: 30px;
    }

    .contact .info .link {
        font-size: 28px;
    }
}

.contact .info .social {
    margin: 15px;
    color: #334752;
}

.contact .info .social i {
    margin: 2px;
    color: #334752;
}
/* End Contact */

.footer {
    background-color: var(--second-color);
    padding: 30px 10px;
    text-align: center;
    color: white;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}